
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button, input, select {
    font-family: inherit;
    font-size: 16px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* src/index.css */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
